language: node_js
node_js:
- 5.2.0
before_install:
- npm install
script:
- webpack
sudo: false
before_deploy:
- npm-prepublish --verbose
deploy:
- provider: npm
  email: "$NPM_EMAIL"
  api_key: "$NPM_API_KEY"
  on:
    tags: true
env:
  global:
  - secure: Pc7BG9fpBygpE3vjTYBwuAO1eEI+ZNFi5QIoIjnhjuNx9i53OX2DcjN5ZCVM0yBkLpVdStzkQi40x5kZlzgEOy5V86NUJUoXg3jvutoL8H4ft8Fvek06MY4N/lmJOSqCSUKt4GUlbu3i7NvX22HmneuCqZsmrudy32IbiFwNglb3dFs6RL9VE9CrjiQ3y7p+iBrkDEDppiFRGhH4+VRaMPU6fEpsNHzex2OApbKxNyggYD5YquxWjxFykHwajPAZf7uUsY6cr8FADQemxy86n7ISaVU2mVjbU7DPHqmS2fIN2BBensAtNPf1VAqOoK6roolQWFQey1yceS83d6LyNHoZeKFGgDiaZ8yGSWaqZ2Pvm2NSebstmZMyIalLmhwE3hKrE1zsPlSX9d2RdfKgbxdtv99E+9OQgkDcLNOaUzWKK+NJn7nHy033HNR3BJg086UWtWryFUzQeaXoJOo/NUUgKMTys1zRL2PAV8XXZQgplMvt2qi9bvCr7dHpd7/UBzDYskpFQC44andmOzIkPiFrHQdcmjNaxldXbgapPAZFTZvnx8hqZDnHQnauOp4f5dWcnveA84jfQdaE1dysAkVkjCcLIkf8XjKwhRI4ZeZtCEaVbsPnoyMAOyCSNCtim54lmjOXRgvWY7Pgpf62L/VRT5ieOSsH4kBXW3RYcNU=
  - secure: gTO3y4xI+MhdG9bJtvCGX8wHhSLi/pBtQHFYTvP2rFScWFHcemYtbNzMvjVbvPhL1GGknhE8FYf3saDkAjGZJqRiNh1YR5D5saXg+f1Y4VWhq/PtK0C4iXaI+QzUT4p30P3EWeeQ5zKp9K7l0wTn3xsTwGZgIvJfJkX3p3FCsZb8JdvHBLNl+JCX/3T9kJT2qzMGMrdBD1SfgBjJdoeCcoVyA8qcS+/0/Efge/6pNnQU6l6LIbQ37PUJxvNXauwPgWWIImHLRH92eKR7J/jSunfnYOExSbMDkHk9grnCvV6YY3F6iEDXGo5btGpluEa49T3AFqz1omBv5Tr8i8hLvZKtxUW2IA200x+1QCS7CkreaRultf3oa+YOr/JNG4QTlIMcK2bnXCHH05N921IZcQdem6h8RGfspvrn3msomnSPTaRHgXlCCMmpT6wQs5DZlbos2nnMVgf/bn+XPG6oSmvp4i3qo8Xt+xdYh8vGO4J4/dwAsjrAOpp3t3a21l2RrhbX3oJtNKBmn0m6Zx8a/jDS5m1e5dnDrtpelcN6tZCuMnayCaXy40zVRnPrKNXl1vfyaK1pMq+0C1QGb+R7Ex5MMzYUFnokfoic1c0NI1TUWR3C6hqKpgq4nou/luBlou0DN9Jrj4si2UPQ4O82myX40qiDE+TTapA0VPsguH8=
